.similar-movies-img {
    height: 400px;
}
.similar-movies-img img{
    width: 100%; 
    height: 250px; 
    object-fit: fill;
    object-position: 25% 25%; 
}

.start-container {
    background-color: #000;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 5px 5px 15px 5px rgba(137, 137, 137, 0.4);
}